body{
    text-align: center;
    background-color: aquamarine;
    border-style: dotted;
    border-color: aqua;
    border-width: 5px;
}
h1{
    color:  darkslategrey;
}
h2{
    padding: 10px;
    color: darkgoldenrod;
    border-style: solid;
    border-width: 2px;
}